<div class="appwrapper">
  <!-- <ion-split-pane> -->
  <ion-menu contentId="home" type="overlay">
    <ion-content class="content">
      <div class="d-flex flex-column h-100 justify-content-between">
        <ion-list id="inbox-list">
          <div class="menu-list-header ion-margin-bottom">
            <div class="side-menu-header">
              <div class="side-menu-avatar">
                <img class="avatar" [src]="user?.avatar">
              </div>
              <div class="side-menu-info">
                <ion-note>Hola,</ion-note>
                <h3>{{user.name}}</h3>
              </div>
            </div>
          </div>
          <div class="menu-list">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" (click)="menuOptionClickHandle(p, i)" lines="none" detail="false">
                <img class="px-3 menuIcon" [src]="p.icon" />
                <ion-label [ngClass]="activeRoute === i ? 'active' : 'deactive'" class="menu-title">{{ p.title }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
        </ion-list>
        <div class="logout">
          <ion-button class="ion-margin-bottom" (click)="logout()" color="tertiary">
            <ion-icon class="logout-icon" name="log-out-outline"></ion-icon>
            Cerrar sesión
          </ion-button>
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <div class="d-flex justify-content-between menu-header ">
    <div>
      <ion-buttons slot="start" class="ion-float-left ion-margin-horizontal menu-button">
        <ion-menu-button class="btn-icon"></ion-menu-button>
      </ion-buttons>
    </div>
    <div class="align-self-center">
      <ion-img [src]="logo"></ion-img>
    </div>
  </div>
  <div class="backdrop" [ngClass]="backdropVisible ? 'fade-in' : 'fade'" tappable (click)="bottomDrawer.toggleDrawer()">
  </div>
  <ion-router-outlet id="home"></ion-router-outlet>
</div>