<div class="bottom-drawer" [ngStyle]="{'bottom': 'calc('+ bottomPosition +'vh + env(safe-area-inset-bottom))'}"
  #bottomDrawer>
  <div *ngIf="userService.rutasFlow === 10" class="car-loc-btn">
    <div class="text-end" *ngIf="!isOpen">
      <ion-note>Tú
        <img class="scan" src="../../../assets/svg/mark.svg" />
      </ion-note>
      <ion-note>Parada
        <img class="scan" src="../../../assets/svg/waypoints.svg" style="margin-left: 4px;" />
      </ion-note>
    </div>
  </div>
  <div *ngIf="dragable" class="ion-text-center ">
    <ion-button fill="clear" expand="full" (click)="toggleDrawer()" class="minH">
      <div class="drawer-pull"></div>
    </ion-button>
  </div>

  <div class="content-container mt-2" *ngIf="component === 'Inicio'">
    <ion-content [ngSwitch]="userService.rutasFlow">
      <!-- Dashboard -->
      <div *ngSwitchCase=0>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <div class="text-center">
                <h2>Dashboard</h2>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- Rutas -->
      <div *ngSwitchCase=1>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <div class="text-center">
                <h2>Rutas asignadas</h2>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <app-route (routeEvent)="routeHandler($event)"></app-route>
      </div>
      <!-- Detalle de ruta -->
      <div *ngSwitchCase=10>
        <div class="d-flex flex-column">
          <div class="d-flex flex-grow-1 mb-4">
            <span>Ver paradas</span>
          </div>
          <ion-grid fixed *ngIf="isOpen">
            <ion-row>
              <ion-col size="12">
                <div>
                  <ion-list lines="full">
                    <ion-item *ngFor="let stop of selectedRoute.route_stops">
                      <ion-label>{{ stop.name }}</ion-label>
                      <ion-note style="color: #fff">{{ stop.arrival_time | customeTime }}</ion-note>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button (click)="startRoute()" expand="block" color="tertiary">
            Iniciar ruta
          </ion-button>
        </div>

      </div>
      <!-- Finalizar viaje -->
      <div *ngSwitchCase=11>
        <app-assign-seat [selectedRoute]="selectedRoute" (registerSeat)="registerSeat($event)"
          (endRoute)="endRoute($event)" #assignedSeat></app-assign-seat>
      </div>
      <!-- Experiencia -->
      <div *ngSwitchCase=2>
        <h2>Experiencia</h2>
      </div>
      <!-- Support / Help -->
      <div *ngSwitchCase=3>
        <h2>Suporte / Ayuda</h2>
      </div>


    </ion-content>
  </div>
</div>