<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" color=" tertiary">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="profile-header ion-text-center">
    <img class="avatar" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    <div class="profile-data ion-text-center">
      <h2>Luis Drurán</h2>
      <h4>lduran@gmail.com</h4>
    </div>
  </div>
</ion-content>