<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" color=" tertiary">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="profile-header">
    <img class="avatar" [src]="user.avatar">
    <div class="d-flex justify-content-end icon-container" (click)="takePicture()">
      <ion-icon slot="start" name="pencil"></ion-icon>
    </div>
    <div class="profile-data ion-text-center">
      <h2>{{user.name}}</h2>
      <h4>{{user.email}}</h4>
    </div>
    <div class="profile-info">
      <ion-note>Cédula</ion-note>
      <ion-label>{{user.identification}}</ion-label>

      <ion-note>Telefóno</ion-note>
      <ion-label>{{user.phone}}</ion-label>

      <ion-note>Experiencia</ion-note>
      <ion-label>15 años</ion-label>

      <ion-note>ID Licencia</ion-note>
      <ion-label>{{user.license}}</ion-label>

      <ion-note>Fecha de Expiración</ion-note>
      <ion-label>{{user.license_expiration | date }}</ion-label>

      <ion-note>Dirección</ion-note>
      <ion-label>{{user.address}}</ion-label>
    </div>

    <div class="ion-text-center ion-margin-top">
      <ion-button (click)="onClick()" fill="solid" color="tertiary">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Cerrar sesión
      </ion-button>
    </div>
  </div>

</ion-content>