<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Buscar el sitio"
      (ionClear)="clearAutocomplete()"></ion-searchbar>
  </ion-toolbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

</ion-header>
<ion-content>
  <agm-map [latitude]="coords?.latitude" [longitude]="coords?.longitude">
    <agm-marker [latitude]="coords?.latitude" [longitude]="coords?.longitude"></agm-marker>
  </agm-map>
  <!-- <div class="map-wrapper" style="height: 100%;">
    <div #map id="map" style="height: 100%;"></div>
  </div> -->
</ion-content>