<ion-content>
  <div class="login">
    <img class="logo" [src]="logo" />

    <ion-row class="des d-flex flex-column">
      <ion-col size="12">
        <div class="ion-text-center">
          <span class="txt">Le ayudamos a llegar a tiempo y de forma segura</span>
          <ion-button expland="block" class="button-btn login-btn signupMedText ion-margin-top" (click)="gotoSignup()">
            <label for="">!Empecemos!</label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>